
section {
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	padding: 16% 0;
	
	display: block;
}

section div.content {
	position: relative;
	top: 40%;
	margin: 0 auto;
	
	width: 90%;
}

section.introduction {
	padding-bottom: 0;
}

section.s1 {
	background-color: #E4E4E4;
}
section.s2 {
	background-color: #CBCBCB;
}
section.s3 {
	background-color: #B1B1B1;
}
section.s4 {
	background-color: #989898;
}
section.s5 {
	background-color: #7F7F7F;
}

.s1, .s2, .s3 {
	color: #fefefe;
}