<!DOCTYPE html>
<html lang="en">
<head>
    <title>dataMines | Factual Actionable Analytics</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body data-twttr-rendered="true">

  <div class="">

    <section class="introduction">
      <div class="content">
      </div>
    </section>

    <section class="s1">
    </section>

    <section class="s2">
    </section>

    <section class="s3">
    </section>

    <section class="s4">
    </section>

    <section class="s5">
    </section>

  </div>

</body>
</html>